body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

#themeButton {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(32,33,36);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#themeButton.light-mode {
    background-color: #f8f9fa;
    color: #000000;
}

.button i {
    transition: transform 0.3s;
}

#themeButton.light-mode i {
    transform: rotate(180deg);
}


.light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
}


.dark-mode {
    --background-color:rgb(32,33,36);
    --text-color: #ffffff;
}

h2 {
    margin: 0;
    padding: 0;
}

.dev{
    display: flex;
    flex-direction: row;
}

.dev p{
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.dev a{
    color: grey;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#calculator {
    text-align: center;
}

.s1 {
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.input-container {
    margin-bottom: 15px;
}

.button-container {
    text-align: center;
}

.button {
    color: #ffffff;
    background-color: grey;
    width: 90%;
    padding: 5px;
    font-size: 16px;
    border: none;   
    border-radius: 5px;
    cursor: pointer;
}